<!-- post/templates/post_list.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매대행 웹사이트</title>
    <link rel="stylesheet" type="text/css" href="{% static 'post/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>게시물 목록</h1>
      <h2>로그인한 사용자: {{ request.user.username }}</h2>
      <a href="{% url 'home' %}"><button>Home</button></a>
      <ul>
        {% for post in posts %}
        <div class="post-item">
        <li>
          <h2>{{ post.title }}</h2>
          <p>작성자: {{ post.author }}</p>
          <p>추천하는 꿀 조합: {{ post.item }}</p>
          <p>꿀 조합에 대한 설명: {{ post.content }}</p>
          <p>좋아요: <span id="likes-count-{{ post.id }}">{{ post.likes }}</span></p>
          <button onclick="increaseLikes({{ post.id }})">좋아요</button>
          <a href="{% url 'delete_post' pk=post.pk %}">삭제</a>
          {% if post.author %}
          {% endif %}
        </li>
        </div>
        {% endfor %}
      </ul>
      <a class="add-post-link" href="{% url 'add_post' %}">게시물 추가</a>
    </div>

    <script>
      var counters = {};

      // 숫자를 증가시키는 함수
      function increaseLikes(postId) {
        // 서버에 좋아요 숫자 증가 요청
        fetch(`/post/increase_likes/${postId}/`)
            .then(response => response.json())
            .then(data => {
                // 숫자 업데이트
                const likesCountElement = document.getElementById(`likes-count-${postId}`);
                likesCountElement.innerText = data.likes;
            })
            .catch(error => console.error('Error:', error));
    }
    </script>
  </body>
</html>
