/* PostList.css */

.post-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.post {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.post h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  color: #666;
}

/* 전체 페이지 배경색 및 폰트 스타일 추가 */
body {
  font-family: Arial, sans-serif;
  background-color: #eef0f5;
  margin: 0;
  padding: 0;
}

/* 페이지 헤더 스타일 추가 */
h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* 버튼 스타일 수정 */
button {
  padding: 10px 20px;
  background-color: #3EAF7C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 10px 10px 10px 0; /* 버튼 간격 조정 */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #2B7A55;
}
