<!-- templates/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        /* 지도를 표시할 div의 스타일을 설정합니다. */
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>

<h1>Welcome Home!</h1>

<!-- 지도를 표시할 div 요소 -->
<div id="map"></div>

<!-- Google Maps JavaScript API 로드 -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCXL8SSd3vNXe_kn-LW9mKIFFIjfMC1KQ&callback=initMap">
</script>

<script>
    // Google 지도 초기화 함수
    function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<!-- 'Hello' 페이지로 이동하는 버튼 -->
<a href="{% url 'hello' %}">
    <button>Say Hello</button>
</a>
</body>
</html>
